html,body,div,ul{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
body{
	background:url(../Images/index-body-bg.png) repeat 0 0;
}
.fg-head{
    margin:0 auto;
    margin-top:0.5%;
    width:85%;
    /*border:1px solid red;*/
}
.pgName{
    font-size: 2.4vw;
    font-weight: 500;
    color:#00CC99;
    /*border:1px solid red;*/
    display:inline-block;
    margin:0.8% 0;
}

.fg-logo{
    /*border:1px solid red;*/
    /*margin-left:30.5%;*/
    width:13%;
    float:right;
}
.fg-logo img{
    width:100%;
    /*border:1px solid red;*/
}
.fg-nav{
    /*background-color: #00CC99;*/
    background-color:  #34495e;
    width: 100%;
    /*border:1px solid red;*/
    height:45px;
    line-height:45px;
}
.fg-nav font{
    float:left;
    /*border:1px solid red;*/
    font-size: 1.3vw;
    font-weight: 500;
    color:white;
    padding-left:1.8%;
    padding-right:1.8%;
    vertical-align:middle;
}
.findpsw{
    margin-left:7.3%;
    /*background-color: #009999;*/
    background-color: #00CC99;
}
.email{
    width:85%;
    margin:0 auto;
    margin-top:2%;
    /*border:1px solid #eeeded;*/
    /*background-color:#F8F8F8;*/
}
.reminder{
    width:98%;
    /*border-bottom:1px dashed #eeeded;*/
    /*border:1px solid red;*/
    margin:0 auto;
    padding:1% 0;
}
.reminder font{
    color:#00CC99;
    font-size:1.1vw;
    font-weight: 400;
}
.fg-form{
    width:80%;
    /*border:1px solid red;*/
    margin:0 auto;
    margin-top:10%;
}
.fg-form form div{
    /*border:1px solid red;*/
    text-align:center;
}
.efont{
    margin-top:8%;
}
.efont font{
    color:#00CC99;
    font-size:1.5vw;
}
.efont input[type="email"] {
  outline: none;
  font-size: 0.8vw;
  font-weight: 500;
  color: #818181;
  border: 1px solid #c8c8c8;
  border-radius:3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  width: 25%;
  padding: 1% 1%;
  -webkit-appearance: none;
  box-sizing:border-box;
  -webkit-border-box-sizing:border-box;
  -moz-border-box-sizing: border-box;
  -o-border-box-sizing: border-box;
}
.ebutton{
    margin-top:3%;
}
.ebutton input[type="submit"] {
  background:#00CC99;
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 400;
  padding: 1% 1.5%;
  width: 15%;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  border: none;
  margin-left:7%;
}
.ebutton input[type="submit"]:hover {
  background:#D0D0D0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.fg-copyright{
    /*border:1px solid red;*/
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    color:#00CC99;
    margin-top:10%;
}
.fg-copyright p{
    /*border:1px solid red;*/
}